<div> 
  
  <mat-form-field class="ngx-mat-drp-date-display" appearance="fill">
    <mat-label>{{options.placeholder}}</mat-label>
    <input class="ngx-mat-drp-date-input"
          matInput
          [value]="selectedDateRange"
          [matTooltip]="selectedDateRange"
          (click)="openCalendar($event)"
          readonly
          #calendarInput>
    <div matSuffix 
          class="ngx-mat-drp-calendar"
          (click)="openCalendar($event)">
    </div>
  </mat-form-field>
  
</div>    
